<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
  <div class="btn-group" role="group">
    {{> atoms-btn-secondary}}
    {{> atoms-btn-secondary}}
    {{> atoms-btn-secondary}}
  </div>
  <div class="btn-group" role="group">
    {{> atoms-btn-secondary}}
    {{> atoms-btn-secondary}}
  </div>
</div>