<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #007bd0;"></span>
		<span class="sg-label">
			$color-brand-green <br />
			#007bd0
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #00a7f2;"></span>
		<span class="sg-label">
			$color-brand-green-dark <br />
			#00a7f2
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #57c742;"></span>
		<span class="sg-label">
			$color-brand-green-dark <br />
			#57c742
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #ffbc32;"></span>
		<span class="sg-label">
			$color-brand-green-dark <br />
			#ffbc32
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #f89026;"></span>
		<span class="sg-label">
			$color-brand-green <br />
			#f89026
		</span>
	</li>
</ul>
