<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #ffffff;"></span>
		<span class="sg-label">
      $color-white <br />
      #ffffff
    </span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #bac9d5;"></span>
		<span class="sg-label">
			$color-gray-02 <br />
			#bac9d5
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #f2f6fa;"></span>
		<span class="sg-label">
			$color-gray-15 <br />
			#f2f6fa
		</span>
	</li>
</ul>
