<div>Primary font: Source Sans Pro, Helvetica, Arial, Sans-Serif;</div>
<div><em>Primary font italic: Source Sans Pro, Helvetica, Arial, Sans-Serif;</em></div>
<div><strong>Primary font bold: Source Sans Pro, Helvetica, Arial, Sans-Serif;</strong></div>
